@font-face {
  font-family: "iconfont"; /* Project id 5031276 */
  src: url('iconfont.woff2?t=1759575004347') format('woff2'),
       url('iconfont.woff?t=1759575004347') format('woff'),
       url('iconfont.ttf?t=1759575004347') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uniF112:before {
  content: "\e6ca";
}

.icon-uniF103:before {
  content: "\e6c6";
}

.icon-uniF102:before {
  content: "\e6c7";
}

.icon-xEA:before {
  content: "\e604";
}

.icon-uniF055:before {
  content: "\e6bc";
}

.icon-uniF056:before {
  content: "\e6bd";
}

.icon-uniF:before {
  content: "\e600";
}

.icon-uniF0F6:before {
  content: "\e601";
}

.icon-uniF1B9:before {
  content: "\e602";
}

.icon-uniF044:before {
  content: "\e603";
}

.icon-tonggao:before {
  content: "\101d2";
}

